body {
	background-color: rgba(73,216,230,.3)
}

h2 {
	font-family: 'Anton';
}

#header {
	width: 100%;
	text-align: center;
	background-color: rgba(73,216,255,.3);
}

p {
	font-family: 'Raleway';
}
 
#header img {
	width: 200px;
	height: 200px;
	text-align: center;
	opacity: 1;
}

#header p {
	font-family: 'Anton';
	color: rgb(73,190,255);
	margin-top: -10px;
}

.paragraph {
	float: left;
	width: 100%;
}

.para {
	width: 400px;
	float: left;
}

.para_img {
	width: 400px;
	height: 400px;
	float: right;
}

#startnow {
	text-align: center;
	left: 50%;
}

#buttonThing {
	display: inline-block;
	text-align: center;
}