#logo_img img {
	width: 300px;
	height: 300px;
}

#logo_img {
	text-align: center;
	background-color: rgba(73,216,255,.3);
}

#posts {
	text-align: center;
	width: 100%;
}

.post {
	background-color: rgb(73,190,255);
	border-radius: 10px;
	height: 100px;
	width: 500px;
	text-align: center;
	margin-bottom: 50px;
	left: 50%;
}

.post p {
	font-family: 'Raleway';
	text-align: center;
	padding-top: 17px;
}

form {
	font-family: 'Raleway';
}

button {
	font-family: 'Raleway';
}